@media screen and (max-width: 1680px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_1680.jpg");
    }
}

@media screen and (max-width: 1280px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_1280.jpg");
    }
}

@media screen and (max-width: 980px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_980.jpg");
    }
}

@media screen and (max-width: 736px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_736.jpg");
    }
}

@media screen and (max-width: 480px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_480.jpg");
    }
}

@media screen and (max-width: 360px) {
    #wrapper > .bg {
	    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/IMG_4941_360.jpg");
    }
}