{{ if isset .Site.Params "slider" }}
{{ if .Site.Params.slider.enable }}

<section class="slider">
    <div id="theCarousel" class="carousel slide lazy" data-ride="carousel">

    <ol class="carousel-indicators">
        {{/* TODO: automatically re-size images from a single full-res image directory */}}
        {{ $url := printf "/images/slider/" }}
        {{ $folder := printf "/static/images/slider/2500/" }}
        {{ $files := readDir $folder }}

    	{{ range $index, $image := where $files ".Name" "!=" ".DS_Store" }}
            <li data-target="#theCarousel" data-slide-to="{{ $index }}"{{ if (eq $index 0) }}  class="active" {{ end }}></li>
        {{ end }}
    </ol>
    <div class="carousel-inner">
    	{{ range $index, $image := where $files ".Name" "!=" ".DS_Store" }}
    	<div class="carousel-item{{ if (eq $index 0) }} active{{ end }}">
    	    <picture id="theCarousel-image-{{$index}}">
    	        <source
    	            {{ if (lt $index 1) }}srcset{{ else }}data-srcset{{ end }}="{{$url}}2500/{{.Name | urlize }} 2x,
    	                                                                        {{$url}}2048/{{.Name | urlize }} 1x"
    	            media="(min-width: 1680px)"/>
    	        <source
    	            {{ if (lt $index 1) }}srcset{{ else }}data-srcset{{ end }}="{{$url}}2048/{{.Name | urlize }} 2x,
    	                                                                        {{$url}}1024/{{.Name | urlize }} 1x"
    	           media="(min-width: 630px)"/>
    	        <source
    	            {{ if (lt $index 1) }}srcset{{ else }}data-srcset{{ end }}="{{$url}}1024/{{.Name | urlize }} 2x,
    	                                                                        {{$url}}512/{{.Name | urlize }} 1x"
    	           media="(min-width: 350px)"/>
    	        <img {{ if (lt $index 1) }}srcset{{ else }}data-srcset{{ end }}="{{$url}}512/{{.Name | urlize }}"
    	            class="d-block w-100" alt="{{ $url }}" title="{{ $url }}" />
    	    </picture>
    	</div>
	   {{ end }}
    </div>
    <a class="carousel-control-prev" href="#theCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#theCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    </div>
    <!-- #controllers -->
</section><!-- .featured-slider -->

{{ end }}
{{ end }}