{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
		{{- $postsFoldername := .Site.Params.Posts.foldername | default "post" }}
		{{- $postsPageSize := .Site.Params.Posts.pagesize | default 6 }}

		{{- .Scratch.Set "postsFeaturedPostEnabled" true }}
		{{- if (or (eq .Site.Params.Posts.featuredpost "false") (eq .Site.Params.Posts.featuredpost false)) }}
			{{- .Scratch.Set "postsFeaturedPostEnabled" false }}
		{{- end }}
		{{- $postsFeaturedPostEnabled := .Scratch.Get "postsFeaturedPostEnabled" }}

		{{- $posts := where .Data.Pages "Type" $postsFoldername }}

		{{- if .IsHome }}
		{{- $posts = where .Site.RegularPages "Type" $postsFoldername }}
		{{- end }}

		{{- $firstPost := first 1 $posts }}

		{{- if and (eq $postsFeaturedPostEnabled true) (gt (len $posts) 1) -}}
			{{- .Scratch.Set "postsForPaging" (after 1 $posts) }}
		{{- else }}
			{{- .Scratch.Set "postsForPaging" $posts }}
		{{- end -}}
		{{- $postsForPaging := .Scratch.Get "postsForPaging" -}}

		{{- $postsPaging := .Paginate $postsForPaging $postsPageSize -}}

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
			    <div class="bg fixed"></div>
				{{ partial "intro.html" . }}
				{{ partial "header" . }}
				{{ partial "nav" . }}

				<!-- Main -->
					<div id="main">
                        <!-- Post -->
                        <section class="page"> <!-- used to be class="post"-->
                            {{ partial "slider" . }}

                            <a href="/store/" class="button big fullwidth">Prints available</a>
                            {{ .Content }}
                        </section>

					</div>

					{{ partial "footer/index" . }}
					{{ partial "colophon" . }}

			</div>
			{{ partial "scripts/index" . }}
	</body>
</html>
